{% block content %}

<head>
    <title>User Page</title>
</head>

<body>
    <h2>Name</h2>
    <h1>{{name}}</h1>

    <h2>Avatar</h2>
    <h1>{{avatar}}</h1>

    <h2>Groups</h2>
    <h1>{{groupname}}</h1>

    <h2>Challenging</h2>
    <h1>{{challenge}}</h1>

    <h2>Strength Level</h2>
    <h1>{{strlevel}}</h1>

    <h2>Agility Level</h2>
    <h1>{{agilevel}}</h1>

    <h2>Will Level</h2>
    <h1>{{willlevel}}</h1>

    <h2>Multiplier</h2>
    <h1>{{constitution}}</h1>

    <p>Click <a href="/group/">here</a> to view the group page.</p><br>
    <p>Click <a href="/challenge/">here</a> to view the challenge page.</p>
    <p>Click <a href="/logout/">here</a> to logout.</p>

</body>
{% endblock %}