{% block content %}

<head>
    <title>User Page</title>
</head>

<body>
    <h2>Name</h2>
    {{name}}

    <h2>Avatar</h2>
    <img src="{{ avatar }}">

    <h2>Groups</h2>
    {{groupname}}

    <h2>Challenging</h2>
    {{challenge}}

    <h2>Strength Level</h2>
    {{strlevel}}

    <h2>Agility Level</h2>
    {{agilevel}}

    <h2>Will Level</h2>
    {{willlevel}}

    <h2>Multiplier</h2>
    {{constitution}}

    <p>Click <a href="/calculateExp/">here</a> to view updated exp.</p>
    <p>Click <a href="/group/">here</a> to view the group page.</p>
    <p>Click <a href="/challenge/">here</a> to view the challenge page.</p>
    <p>Click <a href="/logout/">here</a> to logout.</p><br>

</body>
{% endblock %}